
<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verificación de inicio de sesión</title>
  <style>
    a {
      text-decoration: none;
      color: #012d8a;
    }

    body {
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      font-family: 'Roboto', sans-serif;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 20px;
    }

    .blue-border {
      height: 7px;
      background-color: #012d8a;
      width: 95%;
      margin: 0 auto;
      border-radius: 20px;
    }

    .title {
      color: #252526;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
    }

    .message {
      color: #252526;
      font-size: 18px;
      line-height: 150%;
      margin-top: 20px;
      text-align: justify;
    }

    .code-box {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 5px;
      background-color: #f1f1f1;
      border-radius: 10px;
      padding: 15px;
      margin: 20px auto;
      color: #012d8a;
    }

    .cta-button {
      display: inline-block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #012d8a;
      color: white;
      border-radius: 20px;
      text-decoration: none;
      font-size: 16px;
    }

    .footer {
      font-size: 12px;
      color: #777;
      text-align: center;
      margin-top: 30px;
      line-height: 150%;
    }
  </style>
</head>

<body>
  <div class="container">
    <section class="blue-border"></section>

    <div style="text-align:center">
      <img class="logo" src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224752/logo-solo_dgx9c5.png"
           alt="SwaplyAr Logotipo" 
           style="width: 70px; margin-top: 20px;" />
    </div>
    
    <div class="title">Verifica tu correo electrónico para iniciar sesión en <a href="https://www.swaplyar.com/es/inicio">SwaplyAr</a></div>
    <div class="message">¡Hola, <strong>{{NAME}}</strong>!</div>

    <div class="message">
      Hemos recibido un intento de inicio de sesión.<br><br>
      Para completar el proceso de inicio de sesión, ingresa el código de 6 dígitos en la ventana original o introdúcelo en una nueva ventana haciendo clic en el siguiente enlace:
    </div>

    <div class="code-box">{{VERIFICATION_CODE}}</div>

    <div style="text-align:center">
      <a href="{{BASE_URL}}/es/iniciar-sesion-o-registro/verificacion-email" class="cta-button">Iniciar sesión</a>
    </div>

    <div class="footer">
      Si no intentó iniciar sesión pero recibió este correo electrónico, o si la ubicación no coincide, ignore este correo electrónico. No comparta ni reenvíe el código de 6 dígitos a nadie. Nuestro servicio de atención al cliente nunca lo solicitará. No lea este código en voz alta. Tenga cuidado con los intentos de phishing y siempre verifique el remitente y el dominio <a href="{{BASE_URL}}" style="font-weight: 600;">(swaplyar.com)</a> antes de actuar. Si le preocupa la seguridad de su cuenta, visite nuestra página <strong><a href="https://www.swaplyar.com/es/centro-de-ayuda">de Centro de Ayuda</a></strong> para ponerse en contacto con nosotros.
    </div>

    <section class="blue-border" style="margin-top:20px;"></section>
  </div>
</body>

</html>
