
<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bienvenido a SwaplyAr Plus Rewards</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      font-family: 'Roboto', sans-serif;
    }

    .button{
      height: 40px;
      background-color: #012d8a;
      width: 160px;
      margin: 0 auto;
      border-radius: 20px;
      display: flex;
      align-items: center;   
      justify-content: center;
    }

      .text-button{
      color: #ffffff;
      font-weight:500;
    }

      .text-button:hover{
      color: #ffffff;
    }

    .button:hover {
    background-color: #0140c5; 
    cursor: pointer;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 20px;
    }

    .blue-border {
      height: 5px;
      background-color: #012d8a;
      width: 100%;
      margin: 0 auto;
      border-radius: 20px;
    }

    .blue-border-skinny {
      height: 1px;
      background-color: #012ABE;
      width: 75%;
      margin: 0 auto;
      border-radius: 20px;
    }


    .title {
      color: #252526;
      font-size: 16px;
      margin-top: 20px;
    }

    .message {
      color: #252526;
      font-size: 16px;
      line-height: 1.5;
      margin-top: 5px;
      text-align: justify;
    }

    .code{
      color: #012ABE;
      font-size: 35px ;
      font-weight: 300;
    }

    .code-box {
      white-space: nowrap;
      font-size: 16px;
      background-color: #f1f1f1;
      border-radius: 10px;
      padding: 15px;
      margin: 20px auto;
      color: #252526;
      display: flex;
      align-items: center; 
      justify-content: space-between;
    }

    .footer {
      font-size: 12px;
      color: #777;
      text-align: center;
      margin-top: 0px;
      line-height: 1.5;
    }

    .group-OA{
      display: flex;
      justify-content: right;
      text-align: right;
      margin: 0 10px;
    }

    .logo{
      height: auto;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
    }

    .logo-s{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
    }

    .vertical-bar{
      font-size: 25px;
      color: #4056a7;
      margin: 0 10px;
      margin-left: 15px;
      font-weight: lighter;
    }

    a {
      
      text-decoration: none;
      font-weight: 600;
      text-align: center;
      font-size: 15px;
      color:#777
    }

    a:hover{
      text-decoration: none;
      color:#777
    }

 
  </style>
</head>

<body>
  <div class="container">
    <section class="blue-border"></section>

    <img class="logo" src="https://res.cloudinary.com/df5jwzuq9/image/upload/v1722209853/logo_g74htq.png" alt="">

    <section class="blue-border-skinny"></section>

    <div class="title">Hola, <strong>{{NAME}}</strong></div>

    <div class="message">
      Bienvenido al programa de <strong>SwaplyAr Plus Rewards</strong>. Obtienes recompensas por las transacciones realizadas, mientras más transacciones realizas ¡más beneficios obtienes!
    </div>

    <div class="code-box">Tu código de Membresía: <span class="code">{{ID}}</span></div>

    <img src="https://res.cloudinary.com/dwrhturiy/image/upload/v1751466383/swaplyPlusRewards_q56rtb.png" alt="">

    <div class="message">
      <strong>Descubre todos los beneficios</strong> de nuestro programa de fidelización visitando nuestra página web. En la sección <strong>Programa de Fidelización</strong>, encontrarás información detallada sobre las recompensas, beneficios exclusivos y cómo <strong>aprovechar al máximo tu experiencia con nosotros</strong>.
      Si tienes alguna pregunta o necesitas asistencia adicional, nuestro equipo de atención al cliente estará siempre disponible para ayudarte. No dudes en ponerte en contacto con nosotros para recibir el soporte que necesites.
    </div>

    <div class="button" style="text-align:center; margin-top: 20px;">
      <a class="text-button" href="{{BASE_URL}}">SwaplyAr.com</a>
    </div>

    <section class="blue-border-skinny" style="text-align:center; margin-top: 30px; margin: bottom 0; width:350px"></section>

    <div class="footer">
      <a href="https://www.swaplyar.com/es/centro-de-ayuda">Centro de Ayuda</a> <span class="vertical-bar"> | </span><a href="{{PRIVACY_URL}}">Política y Privacidad</a>
      <br/><br/>
      Este mensaje puede contener información confidencial. No compartas información sobre esta transacción con terceros. Si no eres el destinatario indicado, notifícaselo al remitente de inmediato y borra este correo electrónico de tu sistema.
    </div>

    <img class="logo-s" src="https://res.cloudinary.com/dwrhturiy/image/upload/v1725224752/logo-solo_dgx9c5.png">
    
    <div class="group-OA">© 2024 SwaplyAr | Group OA.</div>

    <section class="blue-border" style="margin-top:20px; margin-bottom:20px"></section>
  </div>
</body>
</html>
